.row.top-nav.navbar-fixed-top
  .container
    a.top-nav--logo-link(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/')
      h3.heading.left
        | IBM
        span.top-nav--logo-wdc  Watson Developer Cloud
    nav.top-nav--nav
      li.top-nav--nav-item
        a(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/services-catalog.html') Services
      li.top-nav--nav-item
        a(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/') Docs
      li.top-nav--nav-item
        a(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/gallery.html') App Gallery
      li.top-nav--nav-item
        a(href='http://developer.ibm.com/watson/') Community
